<div class="text-center">
  <h1>Welcome to Dr. Amelia's Highly Scientific Seed Review</h1>
  <p class="lead">A resource for the methodical gardener</p>
  <p class="lead"><em>by someone with a doctorate in THE BASSOON</em></p>

  <%= link_to "Seed Reviews", posts_path, {:class => "btn btn-primary btn-lg"} %>
</div>